# Ignore all files that start with a period
.*

# Ignore all HTML files in the articles/ directory and its subdirectories
articles/**/*.html

# Exceptions:
# If you want to track some specific files that start with a period,
# you can negate the ignore rule by using an exclamation mark (!)
!/.gitignore  # Keep the .gitignore file itself
!/.cpanel.yml
!/some/other/.file  # Keep another specific file if needed